@charset "UTF-8";
/* ====================================================
reset style
==================================================== */
@import url(//db.onlinewebfonts.com/c/3f086dbc376893f56b4a9c4d3cac5df9?family=Hiragino+Sans+GB);
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap");
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 10px;
  /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

/* ====================================================
Font
==================================================== */
@font-face {
  font-family: "Hiragino Sans GB";
  src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot");
  src: url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.woff") format("woff"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3f086dbc376893f56b4a9c4d3cac5df9.svg#Hiragino Sans GB") format("svg");
}

@font-face {
  font-family: 'RyuminPro-ExBold';
  src: url("../fonts/RyuminPro-ExBold.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Axis';
  src: url("../fonts/Axis.eot");
  src: url("../fonts/Axis.eot?#iefix") format("embedded-opentype"), url("../fonts/Axis.woff2") format("woff2"), url("../fonts/Axis.woff") format("woff"), url("../fonts/Axis.ttf") format("truetype"), url("../fonts/Axis.svg#Axis") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'RyuminPro-Bold';
  src: url("../fonts/RyuminPro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'RyuminPro-Heavy';
  src: url("../fonts/RyuminPro-Bold.otf");
  font-weight: 900;
  font-style: normal;
}

/* ====================================================
Media Quary
==================================================== */
@media screen and (min-width: 769px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}

@media screen and (min-width: 769px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 768px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}

body {
  color: #000000;
  font-family: "RyuminPro-Bold", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  background: #730027;
}

@media screen and (min-width: 0\0) {
  body {
    font-family: YuMincho, "游明朝", "游明朝体", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Sawarabi Mincho", "Yu Mincho", "ＭＳ 明朝", "MS Mincho", "HiraMinProN-W3", "TakaoEx明朝", TakaoExMincho, "MotoyaLCedar", "Droid Sans Japanese", serif;
  }
}

#header {
  position: relative;
}

#header .top {
  background: white;
  padding: 10px 0;
}

@media screen and (max-width: 950px) {
  #header .top {
    padding: 15px 0;
  }
}

#header .top .inner {
  max-width: 925px;
}

#header .inner {
  max-width: 980px;
}

@media screen and (min-width: 951px) {
  #header .inner .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px 0;
  }
}

@media screen and (max-width: 950px) {
  #header .inner .nav-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 60px 20px 0;
    overflow-y: auto;
    background: #730027;
    z-index: 9;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  #header .inner .nav-menu.active {
    opacity: 1;
    visibility: visible;
  }
}

#header .inner .nav-menu .show-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 950px) {
  #header .inner .nav-menu .show-menu {
    display: block;
    margin-bottom: 10px;
  }
}

#header .inner .nav-menu .show-menu > .item {
  position: relative;
}

#header .inner .nav-menu .show-menu > .item > a {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  color: white;
  padding: 0 9px;
  line-height: 1;
  border-right: 1px solid white;
  font-family: "Hiragino Sans GB", sans-serif;
}

@media screen and (max-width: 990px) {
  #header .inner .nav-menu .show-menu > .item > a {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 950px) {
  #header .inner .nav-menu .show-menu > .item > a {
    text-align: center;
    position: relative;
    border-right: none;
    font-size: 16px;
    font-size: 1.6rem;
    padding: 15px 0;
  }
}

#header .inner .nav-menu .show-menu > .item:last-child > a {
  border-right: none;
}

#header .inner .mobile-icon {
  width: 26px;
  height: 30px;
  -webkit-transition: background .5s;
  -o-transition: background .5s;
  transition: background .5s;
  position: absolute;
  right: 10px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 12;
  display: none;
}

@media screen and (max-width: 950px) {
  #header .inner .mobile-icon {
    display: block;
  }
}

#header .inner .mobile-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 2px;
  margin-top: -2px;
  background-color: #730027;
  font-size: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 3px;
}

#header .inner .mobile-icon span:before, #header .inner .mobile-icon span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #730027;
  content: '';
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 3px;
}

#header .inner .mobile-icon span:before {
  -webkit-transform: translateY(-250%);
  -ms-transform: translateY(-250%);
      transform: translateY(-250%);
  top: -2px;
}

#header .inner .mobile-icon span:after {
  -webkit-transform: translateY(250%);
  -ms-transform: translateY(250%);
      transform: translateY(250%);
  bottom: -2px;
}

#header .inner .mobile-icon.mobile-close span {
  background-color: transparent;
}

#header .inner .mobile-icon.mobile-close span:before, #header .inner .mobile-icon.mobile-close span:after {
  width: 100%;
  background: white;
}

#header .inner .mobile-icon.mobile-close span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg);
  top: 2px;
}

#header .inner .mobile-icon.mobile-close span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg);
  bottom: -2px;
}

main {
  max-width: 950px;
  margin: 0 auto;
  border: 8px solid #a89c72;
  background: white;
  padding: 20px 0 0;
}

@media screen and (max-width: 950px) {
  main {
    border: 4px solid #a89c72;
    margin: 10px 10px 0;
  }
}

#footer {
  color: white;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 35px;
  font-family: "Hiragino Sans GB", sans-serif;
}

@media screen and (max-width: 640px) {
  #footer {
    padding: 20px 0;
  }
}

#footer .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 25px;
}

@media screen and (max-width: 640px) {
  #footer .menu-footer {
    display: none;
  }
}

#footer .menu-footer li {
  border-right: 1px solid white;
}

#footer .menu-footer li a {
  display: block;
  padding: 0 40px;
  line-height: 1;
  color: white;
}

@media screen and (max-width: 950px) {
  #footer .menu-footer li a {
    padding: 0 15px;
  }
}

#footer .menu-footer li:last-child {
  border-right: none;
}

.inner {
  display: block;
  max-width: 885px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .inner {
    padding: 0 10px;
  }
}

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

a {
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 769px) {
  a[href^="tel"] {
    pointer-events: none;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}

@media screen and (max-width: 950px) {
  .pc-ipd {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}

@media screen and (max-width: 374px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}

@media screen and (min-width: 951px) {
  .sp-ipd {
    display: none !important;
  }
}

@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

.heading-block {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 24px;
}

@media screen and (max-width: 990px) {
  .heading-block {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .heading-block {
    padding-top: 0;
  }
}

.heading-item {
  display: block;
  text-align: center;
  font-size: 36px;
  font-size: 3.6rem;
  color: #d62780;
  margin-bottom: 15px;
}

@media screen and (max-width: 950px) {
  .heading-item {
    font-size: 28px;
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 640px) {
  .heading-item {
    font-size: 19px;
    font-size: 1.9rem;
  }
}

.ttl-img {
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
  text-align: center;
  color: white;
  background: #730027;
}

@media screen and (max-width: 768px) {
  .ttl-img {
    padding: 10px 5px;
  }
}

@media screen and (max-width: 374px) {
  .ttl-img {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.txt-type01 {
  font-family: "Hiragino Sans GB", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.625;
  color: #343434;
}

@media screen and (max-width: 768px) {
  .txt-type01 {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  background: white;
  border: 1px solid #ccc;
  font-weight: 500;
  padding: 5px 10px;
  font-size: 15px;
  font-size: 1.5rem;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.pure-input input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-input input[type="checkbox"] + label:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  -o-border-image: none;
     border-image: none;
  -webkit-transform: rotate(-45deg) scale(0);
      -ms-transform: rotate(-45deg) scale(0);
          transform: rotate(-45deg) scale(0);
}

.pure-input input[type="checkbox"]:checked + label:after {
  content: '';
  -webkit-transform: rotate(-45deg) scale(1);
      -ms-transform: rotate(-45deg) scale(1);
          transform: rotate(-45deg) scale(1);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.pure-input input[type="checkbox"]:checked + label:before {
  -webkit-animation: borderscale 200ms ease-in;
          animation: borderscale 200ms ease-in;
  background: #4F8196;
}

.pure-input input[type="radio"] + label:after, .pure-input input[type="radio"] + label:before {
  border-radius: 50%;
}

.pure-input input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
  background-color: white;
}

.pure-input input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.pure-input label {
  position: relative;
  padding: 5px 5px 5px 2em;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.pure-input label:before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  color: #4F8196;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #4F8196;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.pure-input label:after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  background-color: #4F8196;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  -o-transition: transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.bg-pink {
  background: #db0183 !important;
}

.breadcrumb {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Hiragino Sans GB", sans-serif;
  line-height: 1;
  margin: 0 -17px 40px;
}

@media screen and (max-width: 990px) {
  .breadcrumb {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.breadcrumb .inner-breadcrumb > * {
  vertical-align: middle;
}

.breadcrumb .inner-breadcrumb a {
  color: inherit;
}

.breadcrumb .inner-breadcrumb > a {
  text-decoration: underline;
  color: #297ba6;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -18px 37px;
}

@media screen and (max-width: 950px) {
  .news-list {
    margin: 0 -8px 37px;
  }
}

@media screen and (max-width: 640px) {
  .news-list {
    max-width: 350px;
    margin: 0 auto 50px;
  }
}

.news-list .item {
  width: 33.333%;
  text-align: center;
  line-height: 1.58;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 0 18px;
}

@media screen and (max-width: 950px) {
  .news-list .item {
    padding: 0 8px;
  }
}

@media screen and (max-width: 640px) {
  .news-list .item {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }
  .news-list .item:last-child {
    margin-bottom: 0;
  }
}

.news-list .item .note {
  margin-bottom: 12px;
}

.news-list .item .note .note-txt {
  display: block;
  background: #00b58a;
  color: white;
  font-size: 26px;
  font-size: 2.6rem;
  letter-spacing: -5px;
  padding: 5px 0;
  font-family: "RyuminPro-ExBold", sans-serif;
}

@media screen and (max-width: 950px) {
  .news-list .item .note .note-txt {
    font-size: 18px;
    font-size: 1.8rem;
    letter-spacing: -2px;
  }
}

.news-list .item .ttl {
  display: block;
  position: relative;
  line-height: 1.33;
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 9px;
}

@media screen and (max-width: 950px) {
  .news-list .item .ttl {
    font-size: 21px;
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 640px) {
  .news-list .item .ttl {
    font-size: 18px;
    font-size: 1.8rem;
    max-width: 200px;
    margin: 0 auto 15px;
  }
}

.news-list .item .ttl:before, .news-list .item .ttl:after {
  content: "";
  width: 16px;
  height: 53px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 640px) {
  .news-list .item .ttl:before, .news-list .item .ttl:after {
    height: 25px;
  }
}

.news-list .item .ttl:before {
  background: url("../img/common/bf.png") no-repeat;
  background-size: 100%;
  left: 0;
}

.news-list .item .ttl:after {
  background: url("../img/common/af.png") no-repeat;
  background-size: 100%;
  right: 0;
}

.news-list .item .img {
  margin-bottom: 15px;
  padding: 0 15px;
}

.judge-block .ttl-img {
  margin-bottom: 31px;
}

.judge-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 22px;
  margin-bottom: 28px;
}

@media screen and (max-width: 950px) {
  .judge-list {
    padding: 0;
  }
}

.judge-list .img {
  width: 37%;
}

@media screen and (min-width: 641px) {
  .judge-list .img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 640px) {
  .judge-list .img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.judge-list .txt-basic {
  width: 63%;
  padding-right: 15px;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.7;
}

@media screen and (max-width: 950px) {
  .judge-list .txt-basic {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 640px) {
  .judge-list .txt-basic {
    width: 100%;
    padding-right: 0;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
  }
}

.judge-list .txt-basic span {
  color: #730027;
  font-family: "RyuminPro-Heavy", sans-serif;
}

.prevention-block .note-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

@media screen and (max-width: 640px) {
  .prevention-block .note-block {
    margin-bottom: 30px;
  }
}

.prevention-block .note-block .img {
  width: 31.2%;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 769px) {
  .prevention-block .note-block .img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 951px) {
  .prevention-block .note-block .img {
    padding-right: 43px;
  }
}

@media screen and (max-width: 640px) {
  .prevention-block .note-block .img {
    width: 27%;
  }
}

.prevention-block .note-block .txt-basic {
  width: 68.8%;
  line-height: 1.66;
  font-size: 18px;
  font-size: 1.8rem;
  padding-top: 7px;
}

@media screen and (max-width: 640px) {
  .prevention-block .note-block .txt-basic {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
    width: 73%;
  }
}

.prevention-block .note-block .txt-basic .ttl {
  display: block;
  font-size: 34px;
  font-size: 3.4rem;
  color: white;
  background: #bfaf07;
  text-align: center;
  margin-bottom: 13px;
  line-height: 1.4;
  padding: 7px 0;
}

@media screen and (max-width: 950px) {
  .prevention-block .note-block .txt-basic .ttl {
    font-size: 23px;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 640px) {
  .prevention-block .note-block .txt-basic .ttl {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.prevention-block .note-block .txt-basic p {
  padding: 0 21px;
}

@media screen and (max-width: 950px) {
  .prevention-block .note-block .txt-basic p {
    padding: 0;
  }
}

.comment-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .comment-block {
    margin-bottom: 30px;
  }
}

.comment-block .ttl-img {
  display: block;
  width: 100%;
  margin-bottom: 31px;
}

.comment-block .comment-list {
  width: 57.5%;
}

@media screen and (max-width: 640px) {
  .comment-block .comment-list {
    width: 100%;
    margin-bottom: 30px;
  }
}

.comment-block .comment-item {
  width: 42.5%;
  text-align: center;
  padding: 0 13px;
}

@media screen and (max-width: 640px) {
  .comment-block .comment-item {
    width: 100%;
    padding: 0;
  }
}

.comment-block .comment-item .ttl {
  display: block;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.32;
  max-width: 275px;
  margin: 0 auto 28px;
}

@media screen and (max-width: 640px) {
  .comment-block .comment-item .ttl {
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0 auto 15px;
  }
}

.comment-block .comment-item .ttl:before, .comment-block .comment-item .ttl:after {
  content: "";
  width: 16px;
  height: 53px;
  position: absolute;
  bottom: 5px;
}

@media screen and (max-width: 640px) {
  .comment-block .comment-item .ttl:before, .comment-block .comment-item .ttl:after {
    height: 25px;
  }
}

.comment-block .comment-item .ttl:before {
  background: url("../img/common/bf.png") no-repeat;
  background-size: 100%;
  left: 0;
}

.comment-block .comment-item .ttl:after {
  background: url("../img/common/af.png") no-repeat;
  background-size: 100%;
  right: 0;
}

.comment-block .comment-item .ttl span {
  display: block;
  color: #e02424;
}

.exercise-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 48px;
}

@media screen and (max-width: 768px) {
  .exercise-flex {
    padding-bottom: 30px;
  }
}

.exercise-left {
  width: 65%;
  padding-right: 20px;
  max-width: 520px;
}

@media screen and (max-width: 640px) {
  .exercise-left {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
  }
}

.exercise-left .txt {
  padding: 0 20px;
  letter-spacing: -0.3px;
  margin-bottom: 29px;
}

@media screen and (max-width: 768px) {
  .exercise-left .txt {
    margin-bottom: 30px;
    letter-spacing: 0;
    padding: 0 10px;
  }
}

.exercise-left .txt:last-child {
  letter-spacing: 0;
}

.exercise-right {
  width: 35%;
  margin-left: auto;
  padding-top: 6px;
}

@media screen and (max-width: 640px) {
  .exercise-right {
    width: 100%;
    padding-top: 0;
    text-align: center;
  }
}

.ttl-type01 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: "RyuminPro-Bold", sans-serif;
  color: #781738;
  position: relative;
  padding: 0 0 0 11px;
  line-height: 1.4;
  margin-bottom: 33px;
}

@media screen and (max-width: 990px) {
  .ttl-type01 {
    font-size: 30px;
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .ttl-type01 {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 30px;
  }
}

.ttl-type01:before {
  position: absolute;
  content: '';
  width: 3px;
  background: #781738;
  left: 0;
  top: 8px;
  bottom: 3px;
}

@media screen and (max-width: 768px) {
  .ttl-type01:before {
    top: 0;
    left: 0;
  }
}

.ttl-type02 {
  margin-bottom: 13px;
}

@media screen and (max-width: 768px) {
  .ttl-type02 img {
    max-height: 30px;
  }
}

.ttl-type03 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.1;
  text-align: center;
  background: #730027;
  color: #fff;
  margin-bottom: 30px;
  padding: 18px 10px 23px;
  letter-spacing: -2px;
}

@media screen and (max-width: 990px) {
  .ttl-type03 {
    font-size: 30px;
    font-size: 3rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 768px) {
  .ttl-type03 {
    font-size: 20px;
    font-size: 2rem;
    padding: 10px;
  }
}

@media screen and (max-width: 374px) {
  .ttl-type03 {
    font-size: 18px;
    font-size: 1.8rem;
  }
}

.ttl-info {
  padding-top: 15px;
  margin-bottom: 13px;
}

@media screen and (max-width: 990px) {
  .ttl-info {
    padding-top: 0;
  }
}

.info-block {
  margin-bottom: 50px;
}

.info-block > *:last-child {
  margin-bottom: 0;
}

.news-list .item .ttl02 {
  font-family: "RyuminPro-Heavy", sans-serif;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  background: #953e46;
  margin-bottom: 5px;
  padding: 0 15px 6px;
}

@media screen and (max-width: 990px) {
  .news-list .item .ttl02 {
    font-size: 25px;
    font-size: 2.5rem;
    padding: 2px 10px 5px;
  }
}

@media screen and (max-width: 768px) {
  .news-list .item .ttl02 {
    font-size: 20px;
    font-size: 2rem;
  }
}

.news-list .item .ttl02 small {
  display: block;
  border-top: 1px solid #fff;
  font-family: "RyuminPro-ExBold", sans-serif;
  margin-top: 1px;
  line-height: 1.2;
}

.news-list .item .ttl02-green {
  background: #00b58a;
}

.news-list .item .ttl02-pink {
  background: #db0183;
}

.news-list .item .note02 {
  margin-bottom: 10px;
}

.news-list .item .note-txt02 {
  text-align: center;
  display: block;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 1.47;
}

@media screen and (max-width: 990px) {
  .news-list .item .note-txt02 {
    font-size: 15px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .news-list .item .note-txt02 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.news-list .item .note-txt02 span {
  display: block;
  color: #00b58a;
  letter-spacing: 3px;
}

.news-list .item .note-txt02-pink span {
  color: #db0183;
}

.news-list .item .tutorial {
  margin: 17px 0 9px;
}

.news-list .item .tutorial-wrap {
  text-align: left;
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "Meiryo", "メイリオ", "MS Pゴシック", Arial, Helvetica, Verdana, sans-serif;
  font-weight: 300;
  border: 1px solid #730027;
  padding: 6px 6px 7px;
  line-height: 1.47;
  background: #fff;
  font-size: 13px;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .news-list .item .tutorial-wrap {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.btn-type01 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Osaka, "Meiryo", "メイリオ", "MS Pゴシック", Arial, Helvetica, Verdana, sans-serif;
  font-weight: 600;
  text-align: center;
  position: relative;
  color: #fff;
  background: #953e46;
  display: block;
  border-radius: 60px;
  padding: 18px 40px 14px 40px;
}

@media screen and (max-width: 990px) {
  .btn-type01 {
    font-size: 15px;
    font-size: 1.5rem;
    padding: 13px 15px;
  }
}

@media screen and (max-width: 768px) {
  .btn-type01 {
    font-size: 14px;
    font-size: 1.4rem;
  }
}

.btn-type01:after {
  position: absolute;
  content: '';
  width: 19px;
  height: 19px;
  background: url("../img/info/arrow-right.png") no-repeat;
  background-size: 100% auto;
  right: 21px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 990px) {
  .btn-type01:after {
    width: 12px;
    height: 12px;
    right: 10px;
  }
}

.btn-type01-green {
  background: #00b58a;
}

.btn-type01-pink {
  background: #db0183;
}

.ingredients-block {
  padding-bottom: 51px;
}

.ingredients-block .ttl-type03 {
  margin-bottom: 28px;
}

.ingredients-img {
  text-align: center;
  padding-left: 2px;
  margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .ingredients-img {
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.ingredients-img02 {
  text-align: right;
  padding-right: 1px;
}

@media screen and (max-width: 768px) {
  .ingredients-img02 {
    text-align: center;
    padding-right: 0;
  }
}

.purchase-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.purchase-box.on {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.purchase-box_wrap {
  width: 90%;
  max-height: 90vh;
  max-width: 580px;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 1px 0 7px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 0 7px rgba(0, 0, 0, 0.4);
}

.purchase-box_content {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 36px 10px 61px;
}

@media screen and (max-width: 768px) {
  .purchase-box_content {
    padding: 30px 10px;
  }
}

.purchase-box_ttl {
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .purchase-box_ttl {
    margin-bottom: 20px;
  }
}

.purchase-box_list {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.purchase-box_item {
  width: calc(50% - 10px);
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .purchase-box_item {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.purchase-box_item:nth-child(even) {
  margin-right: 0;
}

.purchase-box_close {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("../img/info/ico-close.png") no-repeat;
  background-size: 100% auto;
  top: -21px;
  right: -21px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .purchase-box_close {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    -webkit-transform: translate(30%, -30%);
        -ms-transform: translate(30%, -30%);
            transform: translate(30%, -30%);
  }
}

.no-scroll {
  overflow: hidden;
}

.no-scroll body {
  overflow: hidden;
}

.bg-border {
  border: 8px solid #a89c72;
  background: #fff;
}

.sec-main-page {
  padding: 20px 68px 20px 48px;
}

@media screen and (max-width: 990px) {
  .sec-main-page {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 768px) {
  .sec-main-page {
    padding: 15px;
  }
}

.box-main-form {
  padding: 0 20px;
  margin-bottom: 37px;
}

@media screen and (max-width: 768px) {
  .box-main-form {
    margin-bottom: 30px;
    padding: 0;
  }
}

.box-form {
  border: 3px solid #999999;
  position: relative;
}

.box-form-wp {
  padding: 30px 22px 0;
}

@media screen and (max-width: 768px) {
  .box-form-wp {
    padding: 15px 10px 0;
  }
}

.box-form .img-zoom {
  position: absolute;
  top: 25px;
  right: -9%;
}

@media screen and (max-width: 768px) {
  .box-form .img-zoom {
    top: 15px;
    right: -12px;
    width: 85px;
  }
}

.box-form .img-person {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .box-form .img-person {
    width: 110px;
  }
}

.box-note {
  font-family: "Axis";
  font-weight: bold;
  font-size: 23px;
  font-size: 2.3rem;
  color: #730027;
  background: #f0f0f0;
  padding: 13px 20px;
}

@media screen and (max-width: 990px) {
  .box-note {
    font-size: 20px;
    font-size: 2rem;
  }
  .box-note p {
    max-width: 68%;
  }
}

@media screen and (max-width: 768px) {
  .box-note {
    padding: 10px;
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.box-gingivitis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 22px;
  margin-bottom: 21px;
}

@media screen and (max-width: 768px) {
  .box-gingivitis {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin-bottom: 30px;
  }
}

.box-gingivitis_left {
  width: calc(100% - 142px);
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .box-gingivitis_left {
    width: 100%;
    padding-right: 0;
  }
}

.box-gingivitis_left .item {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .box-gingivitis_left .item {
    margin-bottom: 15px;
  }
}

.box-gingivitis_left .item_ttl {
  font-size: 16px;
  font-size: 1.6rem;
  color: #730027;
  font-weight: bold;
  margin-bottom: 5px;
}

.box-gingivitis_left .item p {
  font-size: 16px;
  font-size: 1.6rem;
  color: #343434;
  letter-spacing: -2px;
  line-height: 1.625;
}

@media screen and (max-width: 768px) {
  .box-gingivitis_left .item p {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: -1px;
  }
}

.box-gingivitis_right {
  max-width: 142px;
}

@media screen and (max-width: 768px) {
  .box-gingivitis_right {
    max-width: 65%;
    margin: 0 auto;
  }
}

.box-gingivitis_right .img {
  margin-bottom: 20px;
}

.box-gingivitis_right .img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .box-gingivitis_right .img {
    margin-bottom: 10px;
  }
}

.box-gingivitis-style02 .box-gingivitis_left {
  width: calc(100% - 174px);
}

@media screen and (max-width: 768px) {
  .box-gingivitis-style02 .box-gingivitis_left {
    width: 100%;
  }
}

.box-gingivitis-style02 .box-gingivitis_right {
  max-width: 174px;
}

@media screen and (max-width: 768px) {
  .box-gingivitis-style02 .box-gingivitis_right {
    max-width: 250px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 769px) {
  .box-gingivitis-style02 .box-gingivitis_right .img {
    margin: 18px 0 0;
  }
}

.box-info {
  margin-bottom: 25px;
}

.box-info .ttl {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .box-info .ttl {
    margin-bottom: 15px;
  }
}

.box-info .box-des {
  padding: 0 20px;
  font-family: "RyuminPro-Bold", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  .box-info .box-des {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 0;
    line-height: 1.6;
  }
}

.list-checkbox .item {
  background: #dbd4ba;
  padding: 13px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

@media screen and (max-width: 768px) {
  .list-checkbox .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list-checkbox .item_checkbox {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .list-checkbox .item_checkbox {
    width: 100%;
    margin-bottom: 10px;
  }
  .list-checkbox .item_checkbox:last-child {
    margin-bottom: 0;
  }
}

.ttl-checkbox {
  font-family: "Axis";
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  color: #781738;
  padding-left: 25px;
  position: relative;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .ttl-checkbox {
    font-size: 18px;
    font-size: 1.8rem;
    padding-left: 30px;
  }
}

.ttl-checkbox:before {
  content: '';
  display: block;
  width: 47px;
  height: 40px;
  background: url("../img/page01/ttl-check.png") no-repeat center;
  background-size: cover;
  position: absolute;
  left: -20px;
  top: -4px;
}

@media screen and (max-width: 768px) {
  .ttl-checkbox:before {
    left: 0;
    top: 0;
    width: 25px;
    height: 23px;
    background: url("../img/page01/ttl-check.png") no-repeat center;
    background-size: 100%;
  }
}

.ttl-yellow {
  font-family: "Axis";
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #b69327;
  margin-bottom: 15px;
}

@media screen and (max-width: 990px) {
  .ttl-yellow {
    font-size: 20px;
    font-size: 2rem;
    padding-right: 100px;
  }
}

@media screen and (max-width: 768px) {
  .ttl-yellow {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding-right: 55px;
  }
}

.ttl-top {
  font-family: "RyuminPro-Bold", sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-size: 3.6rem;
  color: #781738;
  line-height: 1;
  padding-left: 13px;
  border-left: 3px solid #781738;
  padding-bottom: 3px;
  margin-bottom: 42px;
}

@media screen and (max-width: 768px) {
  .ttl-top {
    font-size: 23px;
    font-size: 2.3rem;
    margin-bottom: 30px;
    line-height: 1.2;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  font-family: "Axis";
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #781738;
  padding-left: 40px;
  letter-spacing: -1px;
}

@media screen and (max-width: 768px) {
  input[type="checkbox"] + label {
    letter-spacing: 0;
    font-size: 16px;
    font-size: 1.6rem;
    padding-left: 30px;
  }
}

input[type="checkbox"] + label span {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #fff;
  border: 2px solid #999999;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 990px) {
  input[type="checkbox"] + label span {
    top: 2px;
  }
}

@media screen and (max-width: 768px) {
  input[type="checkbox"] + label span {
    width: 20px;
    height: 20px;
    border: 1px solid #999999;
    top: 0;
  }
}

input[type="checkbox"]:checked + label span:before {
  content: '';
  background: url("../img/page01/ico-check.png") no-repeat center;
  background-size: 100% 100%;
  display: block;
  width: 35px;
  height: 27px;
  position: absolute;
  top: -5px;
  left: 0px;
}

@media screen and (max-width: 768px) {
  input[type="checkbox"]:checked + label span:before {
    width: 28px;
    height: 20px;
  }
}

@media screen and (min-width: 769px) {
  .orther-ttl {
    padding-left: 22px;
  }
}

.sec-main-page-style02 {
  padding: 20px 60px 20px 38px;
}

@media screen and (max-width: 990px) {
  .sec-main-page-style02 {
    padding: 15px 20px;
  }
}

@media screen and (max-width: 768px) {
  .sec-main-page-style02 {
    padding: 15px;
  }
}

.box-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  margin-bottom: 50px;
  border-left: 3px solid #781738;
}

@media screen and (max-width: 768px) {
  .box-heading {
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-left: none;
    padding-left: 0;
  }
}

.box-heading .ttl-main {
  font-family: "RyuminPro-Bold", sans-serif;
  font-weight: bold;
  font-size: 36px;
  font-size: 3.6rem;
  color: #781738;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .box-heading .ttl-main {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
    padding-left: 10px;
    border-left: 3px solid #781738;
  }
}

.box-heading .icon {
  margin: 0 8px 0 14px;
}

@media screen and (max-width: 768px) {
  .box-heading .icon {
    display: none;
  }
}

.box-heading .ttl-sub {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  color: #333;
}

@media screen and (max-width: 768px) {
  .box-heading .ttl-sub {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.main-page-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .main-page-customer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-page-customer .box-left {
  width: 390px;
}

@media screen and (max-width: 768px) {
  .main-page-customer .box-left {
    width: 100%;
  }
}

.main-page-customer .box-right {
  width: calc(100% - 390px);
  margin-top: -25px;
}

@media screen and (max-width: 768px) {
  .main-page-customer .box-right {
    width: 100%;
  }
}

.main-page-customer .box-right .txt-des {
  font-size: 13px;
  font-size: 1.3rem;
  color: #781738;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: "Hiragino Sans GB", sans-serif;
}

@media screen and (max-width: 768px) {
  .main-page-customer .box-right .txt-des {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.box-generations-women {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .box-generations-women {
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-generations-women .box-left {
  width: 405px;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-left {
    width: 100%;
    padding: 0;
  }
}

.box-generations-women .box-right {
  width: calc(100% - 425px);
  margin-top: -105px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right {
    width: 100%;
  }
}

.box-generations-women .box-right .bg-blue {
  background: #caf2eb;
  position: relative;
  padding-bottom: 10px;
  padding-top: 6px;
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue {
    padding-top: 30px;
  }
}

.box-generations-women .box-right .bg-blue .img-new {
  position: absolute;
  top: 10px;
  right: 25px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .img-new {
    top: 10px;
    right: 10px;
    width: 40px;
  }
}

.box-generations-women .box-right .bg-blue .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.box-generations-women .box-right .bg-blue .flex_left {
  width: 150px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_left {
    width: 100%;
    margin-bottom: 30px;
  }
}

.box-generations-women .box-right .bg-blue .flex_left .img {
  position: relative;
  left: -5px;
  width: 92%;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_left .img {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_left .img {
    width: 60%;
    margin: 0 auto;
  }
}

.box-generations-women .box-right .bg-blue .flex_left .txt-caption {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 900;
  padding-left: 10px;
  position: absolute;
  padding-top: 10px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_left .txt-caption {
    position: static;
    text-align: center;
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_left .txt-caption {
    letter-spacing: 0;
    text-align: center;
    margin-top: 10px;
  }
}

.box-generations-women .box-right .bg-blue .flex_right {
  width: calc(100% - 150px);
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_right {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right {
    width: 100%;
  }
}

.box-generations-women .box-right .bg-blue .flex_right .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -3px;
  top: 4px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_right .flex {
    left: 0;
    top: 0;
    padding-left: 10px;
  }
}

.box-generations-women .box-right .bg-blue .flex_right .txt-des {
  padding-top: 18px;
  padding-left: 58px;
  font-size: 12px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right .txt-des {
    padding: 0 20px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-img {
    width: 25%;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-img {
    width: auto;
  }
}

.box-generations-women .box-right .bg-blue .flex_right .box-img .img {
  width: 90px;
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-img .img {
    width: 100px;
  }
}

.box-generations-women .box-right .bg-blue .flex_right .box-img .img:last-of-type {
  position: relative;
  left: 18px;
  top: 2px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-img .img:last-of-type {
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-img .img:last-of-type {
    position: static;
  }
}

.box-generations-women .box-right .bg-blue .flex_right .box-txt {
  font-size: 20px;
  font-size: 2rem;
  font-weight: 800;
  color: #035078;
  padding-left: 20px;
  padding-top: 25px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-txt {
    width: 75%;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-txt {
    width: calc(100% - 100px);
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 374px) {
  .box-generations-women .box-right .bg-blue .flex_right .box-txt {
    padding-left: 10px;
  }
}

.box-generations-women .box-right .bg-blue .list-item {
  padding: 0 36px;
  margin-top: 20px;
}

@media screen and (max-width: 990px) {
  .box-generations-women .box-right .bg-blue .list-item {
    padding: 0 10px;
  }
}

.box-generations-women .box-right .bg-blue .list-item .item-women_ttl {
  color: #035078;
}

.box-generations-women .box-right .txt-note {
  font-size: 14px;
  font-size: 1.4rem;
  color: #333333;
  text-align: right;
  margin-top: 20px;
  display: block;
  font-family: "Hiragino Sans GB", sans-serif;
}

.item-women {
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.item-women .icon-person {
  width: 30px;
  position: absolute;
  top: -10px;
  left: 7px;
}

.item-women_ttl {
  padding: 0 45px;
  height: 34px;
  background: #fff url("../img/page02/bg.png") no-repeat center;
  background-size: cover;
  font-size: 18px;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  color: #730027;
  font-family: "Hiragino Sans GB", sans-serif;
}

@media screen and (max-width: 768px) {
  .item-women_ttl {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.item-women_content {
  padding: 15px 8px;
  background: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  color: #666666;
  line-height: 1.625;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .item-women_content {
    padding: 10px;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

.ttl-big {
  font-family: "RyuminPro-Bold", sans-serif;
  font-size: 26px;
  font-size: 2.6rem;
  color: #781738;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -2px;
  line-height: 2;
}

@media screen and (max-width: 990px) {
  .ttl-big {
    font-size: 23px;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 768px) {
  .ttl-big {
    font-size: 22px;
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 374px) {
  .ttl-big {
    font-size: 20px;
    font-size: 2rem;
  }
}

.ttl-big span {
  display: inline-block;
  border-bottom: 4px solid #781738;
}

@media screen and (max-width: 768px) {
  .ttl-big span {
    font-size: 26px;
    font-size: 2.6rem;
    letter-spacing: -1px;
    border-bottom: 2px solid #781738;
  }
}

@media screen and (max-width: 374px) {
  .ttl-big span {
    font-size: 22px;
    font-size: 2.2rem;
  }
}

.ttl-big .big {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1;
  padding-bottom: 8px;
}

@media screen and (max-width: 990px) {
  .ttl-big .big {
    font-size: 40px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .ttl-big .big {
    font-size: 30px;
    font-size: 3rem;
  }
}

.ttl-big .small {
  letter-spacing: 2px;
}

@media screen and (max-width: 990px) {
  .ttl-big .small {
    letter-spacing: 0;
  }
}

.box-medicinal {
  margin-bottom: 55px;
}

@media screen and (max-width: 768px) {
  .box-medicinal {
    margin-bottom: 30px;
  }
}

.box-medicinal .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .box-medicinal .box-img {
    margin-bottom: 15px;
  }
}

.box-medicinal .box-img .img {
  width: 135px;
}

.box-medicinal .box-img .img:last-of-type {
  width: calc(100% - 135px);
  padding-left: 32px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .box-medicinal .box-img .img:last-of-type {
    padding-left: 20px;
    margin-top: 5px;
  }
}

.box-medicinal .caption {
  display: block;
  font-family: "RyuminPro-Bold", sans-serif;
  font-weight: 900;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: -1.5px;
}

@media screen and (max-width: 768px) {
  .box-medicinal .caption {
    letter-spacing: 0;
  }
}

/*# sourceMappingURL=maps/styles.css.map */
