.exercise {
	&-flex {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding-bottom: 48px;
		@include mq {
			padding-bottom: 30px;
		}
	}
	&-left {
		width: 65%;
		padding-right: 20px;
		max-width: 520px;
		@include mq(sm) {
			width: 100%;
			max-width: 100%;
			padding-right: 0;
		}
		.txt {
			padding: 0 20px;
			letter-spacing: -0.3px;
			margin-bottom: 29px;
			@include mq {
				margin-bottom: 30px;
				letter-spacing: 0;
				padding: 0 10px;
			}
			&:last-child {
				letter-spacing: 0;
			}
		}
	}
	&-right {
		width: 35%;
		margin-left: auto;
		padding-top: 6px;
		@include mq(sm) {
			width: 100%;
			padding-top: 0;
			text-align: center;
		}
	}
}
.ttl {
	&-type01 {
		@include font-size(36);
		font-family: $font-RyuminPro;
		color: #781738;
		position: relative;
		padding: 0 0 0 11px;
		line-height: 1.4;
		margin-bottom: 33px;
		@include mq(lg) {
			@include font-size(30);
		}
		@include mq {
			@include font-size(24);
			margin-bottom: 30px;
		}
		&:before {
			position: absolute;
			content: '';
			width: 3px;
			background: #781738;
			left: 0;
			top: 8px;
			bottom: 3px;
			@include mq {
				top: 0;
				left: 0;
			}
		}
	}
	&-type02 {
		margin-bottom: 13px;
		@include mq {
			img {
				max-height: 30px;
			}
		}
	}
}