
.news-list{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px 37px;
	@include mq(ipd){
		margin: 0 -8px 37px;
	}
	@include mq(sm){
		max-width: 350px;
		margin: 0 auto 50px;
	}
	.item{
		width: 33.333%;
		text-align: center;
		line-height: 1.58;
		@include font-size(14);
		padding: 0 18px;
		@include mq(ipd){
			padding: 0 8px;
		}
		@include mq(sm){
			width: 100%;
			margin-bottom: 30px;
			padding: 0;
			&:last-child{
				margin-bottom: 0;
			}
		}
		.note{
			margin-bottom: 12px;
			.note-txt{
				display: block;
				background: #00b58a;
				color: white;
				@include font-size(26);
				letter-spacing: -5px;
				padding: 5px 0;
				font-family: $font-RyuminExBold;
				@include mq(ipd){
					@include font-size(18);
					letter-spacing: -2px;
				}
			}
		}
		.ttl{
			display: block;
			position: relative;
			line-height: 1.33;
			@include font-size(30);
			margin-bottom: 9px;
			@include mq(ipd){
				@include font-size(21);
			}
			@include mq(sm){
				@include font-size(18);
				max-width: 200px;
				margin: 0 auto 15px;
			}
			&:before,&:after{
				content: "";
				width: 16px;
				height: 53px;
				position: absolute;
				bottom: 0;
				@include mq(sm){
					height: 25px;
				}
			}
			&:before{
				background: url("../img/common/bf.png")no-repeat;
				background-size: 100%;
				left: 0;
			}
			&:after{
				background: url("../img/common/af.png")no-repeat;
				background-size: 100%;
				right: 0;
			}
		}
		.img{
			margin-bottom: 15px;
			padding: 0 15px;
		}
	}
}
.judge-block{
	.ttl-img{
		margin-bottom: 31px;
	}
}
.judge-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 18px 0 22px;
	margin-bottom: 28px;
	@include mq(ipd){
		padding: 0;
	}
	.img{
		width: 37%;
		@include mq(sm-min){
			order: 2;
		}
		@include mq(sm){
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.txt-basic{
		width: 63%;
		padding-right: 15px;
		@include font-size(20);
		line-height: 1.7;
		@include mq(ipd){
			@include font-size(18);
		}
		@include mq(sm){
			width: 100%;
			padding-right: 0;
			@include font-size(14);
			line-height: 1.6;
		}
		span{
			color: #730027;
			font-family: $font-RyuminHeavy;
		}
	}
}
.prevention-block{
	.note-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 15px;
		@include mq(sm){
			margin-bottom: 30px;
		}
		.img{
			width: 31.2%;
			text-align: center;
			position: relative;
			@include mq(md-min){
				order: 2;
			}
			@include mq(ipd-min){
				padding-right: 43px;
			}
			@include mq(sm){
				width: 27%;
			}
		}
		.txt-basic{
			width: 68.8%;
			line-height: 1.66;
			@include font-size(18);
			padding-top: 7px;
			@include mq(sm){
				@include font-size(14);
				line-height: 1.6;
				width: 73%;
			}
			.ttl{
				display: block;
				@include font-size(34);
				color: white;
				background: #bfaf07;
				text-align: center;
				margin-bottom: 13px;
				line-height: 1.4;
				padding: 7px 0;
				@include mq(ipd){
					@include font-size(23);
				}
				@include mq(sm){
					@include font-size(18);
				}
			}
			p{
				padding: 0 21px;
				@include mq(ipd){
					padding: 0;
				}
			}
		}
	}
}
.comment-block{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
	@include mq(sm){
		margin-bottom: 30px;
	}
	.ttl-img{
		display: block;
		width: 100%;
		margin-bottom: 31px;
	}
	.comment-list{
		width: 57.5%;
		@include mq(sm){
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.comment-item{
		width: 42.5%;
		text-align: center;
		padding: 0 13px;
		@include mq(sm){
			width: 100%;
			padding: 0;
		}
		.ttl{
			display: block;
			text-align: center;
			position: relative;
			@include font-size(20);
			line-height: 1.32;
			max-width: 275px;
			margin: 0 auto 28px;
			@include mq(sm){
				@include font-size(18);
				margin: 0 auto 15px;
			}
			&:before,&:after{
				content: "";
				width: 16px;
				height: 53px;
				position: absolute;
				bottom: 5px;
				@include mq(sm){
					height: 25px;
				}
			}
			&:before{
				background: url("../img/common/bf.png")no-repeat;
				background-size: 100%;
				left: 0;
			}
			&:after{
				background: url("../img/common/af.png")no-repeat;
				background-size: 100%;
				right: 0;
			}
			span{
				display: block;
				color: #e02424;
			}
		}
	}
}