.ttl {
	&-type03 {
		@include font-size(36);
		line-height: 1.1;
		text-align: center;
		background: #730027;
		color: #fff;
		margin-bottom: 30px;
		padding: 18px 10px 23px;
		letter-spacing: -2px;
		@include mq(lg) {
			@include font-size(30);
			line-height: 1.4;
		}
		@include mq {
			@include font-size(20);
			padding: 10px;
		}
		@include mq(xs) {
			@include font-size(18);
		}
	}
	&-info {
		padding-top: 15px;
		margin-bottom: 13px;
		@include mq(lg) {
			padding-top: 0;
		}
	}
}


.info-block {
	margin-bottom: 50px;
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.news-list {
	.item {
		.ttl02 {
			font-family: $font-RyuminHeavy;
			@include font-size(30);
			text-align: center;
			line-height: 1.4;
			color: #fff;
			background: #953e46;
			margin-bottom: 5px;
			padding: 0 15px 6px;
			@include mq(lg) {
				@include font-size(25);
				padding: 2px 10px 5px;
			}
			@include mq {
				@include font-size(20);
			}
			small {
				display: block;
				border-top: 1px solid #fff;
				font-family: $font-RyuminExBold;
				margin-top: 1px;
				line-height: 1.2;
			}
			&-green {
				background: #00b58a;
			}
			&-pink {
				background: #db0183;
			}
		}
		.note02 {
			margin-bottom: 10px;
		}
		.note-txt02 {
			text-align: center;
			display: block;
			@include font-size(17);
			line-height: 1.47;
			@include mq(lg) {
				@include font-size(15);
			}
			@include mq {
				@include font-size(14);
			}
			span {
				display: block;
				color: #00b58a;
				letter-spacing: 3px;
			}
			&-pink {
				span {
					color: #db0183;
				}
			}
		}
		.tutorial {
			margin: 17px 0 9px;
			&-wrap {
				text-align: left;
				font-family: $font-gothic;
				font-weight: 300;
				border: 1px solid #730027;
				padding: 6px 6px 7px;
				line-height: 1.47;
				background: #fff;
				@include font-size(13);
				@include mq {
					@include font-size(12);
				}
			}
		}
	}
}

.btn {
	&-type01 {
		@include font-size(18);
		font-family: $font-gothic;
		font-weight: 600;
		text-align: center;
		position: relative;
		color: #fff;
		background: #953e46;
		display: block;
		border-radius: 60px;
		padding: 18px 40px 14px 40px;
		@include mq(lg) {
			@include font-size(15);
			padding: 13px 15px;
		}
		@include mq {
			@include font-size(14);
		}
		&:after {
			position: absolute;
			content: '';
			width: 19px;
			height: 19px;
			background: url("../img/info/arrow-right.png") no-repeat;
			background-size: 100% auto;
			right: 21px;
			top: 50%;
			transform: translateY(-50%);
			@include mq(lg) {
				width: 12px;
				height: 12px;
				right: 10px;
			}
		}
		&-green {
			background: #00b58a;
		}
		&-pink {
			background: #db0183;
		}
	}
}

.ingredients {
	&-block {
		padding-bottom: 51px;
		.ttl-type03 {
			margin-bottom: 28px;
		}
	}
	&-img {
		text-align: center;
		padding-left: 2px;
		margin-bottom: 42px;
		@include mq {
			padding-left: 0;
			margin-bottom: 30px;
		}
	}
	&-img02 {
		text-align: right;
		padding-right: 1px;
		@include mq {
			text-align: center;
			padding-right: 0;
		}
	}
}

.purchase-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s;
	&.on {
		opacity: 1;
		pointer-events: auto;
		transition: 0.3s;
	}
	&_wrap {
		width: 90%;
		max-height: 90vh;
		max-width: 580px;
		background: #fff;
		position: relative;
		box-shadow: 1px 0 7px rgba(0,0,0,0.4);
	}
	&_content {
		overflow-y: auto;
		height: 100%;
		width: 100%;
		padding: 36px 10px 61px;
		@include mq {
			padding: 30px 10px;
		}
	}
	&_ttl {
		text-align: center;
		margin-bottom: 32px;
		@include mq {
			margin-bottom: 20px;
		}
	}
	&_list {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
	}
	&_item {
		width: calc(50% - 10px);
		margin-right: 20px;
		margin-bottom: 20px;
		@include mq {
			width: calc(50% - 5px);
			margin-right: 10px;
			margin-bottom: 10px;
		}
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	&_close {
		position: absolute;
		width: 50px;
		height: 50px;
		background: url("../img/info/ico-close.png") no-repeat;
		background-size: 100% auto;
		top: -21px;
		right: -21px;
		cursor: pointer;
		@include mq {
			width: 30px;
			height: 30px;
			top: 0;
			right: 0;
			transform: translate(30%, -30%);
		}
	}
}

.no-scroll {
	overflow: hidden;
	body {
		overflow: hidden;
	}
}