.sec-main-page-style02{
	padding: 20px 60px 20px 38px;
	@include mq(lg){
		padding: 15px 20px;
	}
	@include mq(){
		padding: 15px;
	}
}
.box-heading{
	display: flex;
	align-items: center;
	padding-left: 8px;
	margin-bottom: 50px;
	border-left: 3px solid #781738;
	@include mq(){
		margin-bottom: 50px;
		flex-wrap: wrap;
		border-left: none;
		padding-left: 0;
	}
	.ttl-main{
		font-family: $font-RyuminPro;
		font-weight: bold;
		@include font-size(36);
		color: #781738;
		line-height: 1;
		@include mq(){
			@include font-size(30);
			margin-bottom: 20px;
			line-height: 1.2;
			padding-left: 10px;
			border-left: 3px solid #781738;
		}
	}
	.icon{
		margin: 0 8px 0 14px;
		@include mq(){
			display: none;
		}
	}
	.ttl-sub{
		@include font-size(18);
		line-height: 1.4;
		color: #333;
		@include mq(){
			@include font-size(16);
		}
	}
}
.main-page-customer{
	display: flex;
	@include mq(){
		flex-wrap: wrap;
	}
	.box-left{
		width: 390px;
		@include mq(){
			width: 100%;
		}
	}
	.box-right{
		width: calc(100% - 390px);
		margin-top: -25px;
		@include mq(){
			width: 100%;
		}
		.txt-des{
			@include font-size(13);
			color: #781738;
			margin-bottom: 20px;
			line-height: 1.5;
			font-family: $font-Hiragino;
			@include mq(){
				@include font-size(12);
				margin-bottom: 20px;
			}
		}
	}
}
.box-generations-women{
	display: flex;
	margin-bottom: 60px;
	@include mq(){
		margin-bottom: 20px;
		flex-wrap: wrap;
	}
	.box-left{
		width: 405px;
		padding: 0 20px;
		@include mq(){
			width: 100%;
			padding: 0;
		}
	}
	.box-right{
		width: calc(100% - 425px);
		margin-top: -105px;
		@include mq(lg){
			margin-top: 0;
		}
		@include mq(){
			width: 100%;
		}
		.bg-blue{
			background: #caf2eb;
			position: relative;
			padding-bottom: 10px;
			padding-top: 6px;
			@include mq(){
				padding-top: 30px;
			}
			.img-new{
				position: absolute;
				top: 10px;
				right: 25px;
				@include mq(lg){
					top: 10px;
					right: 10px;
					width: 40px;
				}
			}
			.flex{
				display: flex;
				@include mq(lg){
					flex-wrap: wrap;
				}
				&_left{
					width: 150px;
					@include mq(lg){
						width: 100%;
						margin-bottom: 30px;
					}
					.img{
						position: relative;
						left: -5px;
						width: 92%;
						@include mq(lg){
							width: 75%;
						}
						@include mq(){
							width: 60%;
							margin: 0 auto;
						}
					}
					.txt-caption{
						@include font-size(14);
						font-weight: 900;
						padding-left: 10px;
						position: absolute;
						padding-top: 10px;
						@include mq(lg){
							position: static;
							text-align: center;
							width: 100%;
							display: block;
						}
						@include mq(){
							letter-spacing: 0;
							text-align: center;
							margin-top: 10px;
						}
					}
				}
				&_right{
					width: calc(100% - 150px);
					@include mq(lg){
						width: 100%;
					}
					@include mq(){
						width: 100%;
					}
					.flex{
						display: flex;
						align-items: center;
						position: relative;
						left: -3px;
						top: 4px;
						@include mq(lg){
							left: 0;
							top: 0;
							padding-left: 10px;
						}
					}
					.txt-des{
						padding-top: 18px;
						padding-left: 58px;
						@include font-size(12);
						@include mq(){
							padding: 0 20px;
							margin-top: 30px;
						}
					}
					.box-img{
						@include mq(lg){
							width: 25%;
						}
						@include mq(){
							width: auto;
						}
						.img{
							width: 90px;
							@include mq(){
								width: 100px;
							}
							&:last-of-type{
								position: relative;
								left: 18px;
								top: 2px;
								@include mq(lg){
									position: static;
								}
								@include mq(){
									position: static;
								}
							}
						}
					}
					.box-txt{
						@include font-size(20);
						font-weight: 800;
						color: #035078;
						padding-left: 20px;
						padding-top: 25px;
						@include mq(lg){
							width: 75%;
							padding-left: 30px;
						}
						@include mq(){
							width: calc(100% - 100px);
							@include font-size(16);
						}
						@include mq(xs){
							padding-left: 10px;
						}
					}
				}
			}
			.list-item{
				padding: 0 36px;
				margin-top: 20px;
				@include mq(lg){
					padding: 0 10px;
				}
				.item-women{
					&_ttl{
						color: #035078;
					}
				}
			}
		}
		.txt-note{
			@include font-size(14);
			color: #333333;
			text-align: right;
			margin-top: 20px;
			display: block;
			font-family: $font-Hiragino;
		}
	}
}
.item-women{
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
	.icon-person{
		width: 30px;
		position: absolute;
		top: -10px;
		left: 7px;
	}
	&_ttl{
		padding: 0 45px;
		height: 34px;
		background: #fff url("../img/page02/bg.png") no-repeat center;
		background-size: cover;
		@include font-size(18);
		display: flex;
		align-items: center;
		font-weight: bold;
		color: #730027;
		font-family: $font-Hiragino;
		@include mq(){
			@include font-size(16);
		}
	}
	&_content{
		padding: 15px 8px;
		background: #fff;
		@include font-size(16);
		color: #666666;
		line-height: 1.625;
		position: relative;
		z-index: 2;
		@include mq(){
			padding: 10px;
			@include font-size(14);
			line-height: 1.5;
		}
	}
}
.ttl-big{
	font-family: $font-RyuminPro;
	@include font-size(26);
	color: #781738;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: -2px;
	line-height: 2;
	@include mq(lg){
		@include font-size(23);
	}
	@include mq(){
		@include font-size(22);
		margin-bottom: 15px;
	}
	@include mq(xs){
		@include font-size(20);
	}
	span{
		display: inline-block;
		border-bottom: 4px solid #781738;
		@include mq(){
			@include font-size(26);
			letter-spacing: -1px;
			border-bottom: 2px solid #781738;
		}
		@include mq(xs){
			@include font-size(22);
		}
	}
	.big{
		@include font-size(60);
		line-height: 1;
		padding-bottom: 8px;
		@include mq(lg){
			@include font-size(40);
		}
		@include mq(){
			@include font-size(30);
		}
	}
	.small{
		letter-spacing: 2px;
		@include mq(lg){
			letter-spacing: 0;
		}
	}
}
.box-medicinal{
	margin-bottom: 55px;
	@include mq(){
		margin-bottom: 30px;
	}
	.box-img{
		display: flex;
		margin-bottom: 8px;
		@include mq(){
			margin-bottom: 15px;
		}
		.img{
			width: 135px;
			&:last-of-type{
				width: calc(100% - 135px);
				padding-left: 32px;
				margin-top: 15px;
				@include mq(){
					padding-left: 20px;
					margin-top: 5px;
				}
			}
		}
	}
	.caption{
		display: block;
		font-family: $font-RyuminPro;
		font-weight: 900;
		@include font-size(13);
		letter-spacing: -1.5px;
		@include mq(){
			letter-spacing: 0;
		}
	}
}