<footer id="footer">
	<div class="inner">
		<ul class="menu-footer">
			<li>
				<a href="">個人情報保護ポリシー</a>
			</li>
			<li>
				<a href="">このサイトについて</a>
			</li>
			<li>
				<a href="">サンスターホームページ</a>
			</li>
		</ul>
		<div class="copyright">
			<p>
				Copyright(c) Sunstar Inc. All rights reserved.
			</p>
		</div>
	</div>
</footer>