<main class="page-<%= pageData.template %>">
	<div class="inner">
        <% include common/_breadcrumb.ejs %>
		<div class="exercise-flex">
			<div class="exercise-left txt-type01">
				<h1 class="ttl-type01">
					8020運動で健康なお口へ
				</h1>
				
				<h2 class="ttl-type02">
					<img src="<%= RELATIVE_PATH %>img/exercise/ttl-01.png" alt="8020運動ってご存じですか？">
				</h2>
				<p class="txt">
					8020運動とは8020推進財団が行っている「80歳になっても、自分の歯を20本以上保とう」という推進運動です。<br>
					どうして8020かというと、成人は親知らずを除く28本生えている歯のうち、少なくとも20本の歯があれば、美味しく食事を摂ることができるからなんです。<br>
					料理や食べ歩きが好きな方だけでなく、スポーツが趣味の方も、いきいきとした毎日を過ごすために、8020を心がけましょう。
				</p>
				
				<h2 class="ttl-type02">
					<img src="<%= RELATIVE_PATH %>img/exercise/ttl-02.png" alt="気になったらすぐに検診へ">
				</h2>
				<p class="txt">
					あなたは最近、どれくらい前に歯科検診を受けましたか？<br>
					ご自身で歯の状態をチェックした際に気になるところがあれば、歯科検診を受けてみましょう。<br>
					できれば、定期的に検診を受けられるのがおススメです。
				</p>
				
				<h2 class="ttl-type02">
					<img src="<%= RELATIVE_PATH %>img/exercise/ttl-03.png" alt="ケアを怠ると大変な事態が・・・">
				</h2>
				<p class="txt">
					健康を損なってしまうと、楽しい時間が無駄になってしまいますよね。<br>
					生薬当帰の力がはたらく「サンスター薬用塩ハミガキ」は、歯槽膿漏・歯肉炎を予防し、あなたのお口の健康をサポートします！
				</p>
			</div>
			<div class="exercise-right">
				<img src="<%= RELATIVE_PATH %>img/exercise/img-01.png" alt="8020運動で健康なお口へ">
			</div>
		</div>
	</div>
</main>