<main class="page-<%= pageData.template %>">
	<div class="inner">
		<div class="new-block">
			<div class="heading-block">
				<img src="<%= RELATIVE_PATH %>img/index/new.png" alt="new">
			</div>
			<ul class="news-list">
				<li class="item">
					<div class="note">
						<h3 class="ttl">
							薬用感のある<br>
							クセになる香味
						</h3>
					</div>
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-01.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキa<br>
						（医薬部外品）<br>
						＜スパイシーミントの香味＞
					</div>
				</li>
				<li class="item">
					<div class="note">
						<h3 class="ttl">
							すっきり爽快感が<br>
							お好みの方に
						</h3>
						<span class="note-txt">
							すっきりハーブ<small>タイプ</small>
						</span>
					</div>
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-02.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキaFH<br>
						（医薬部外品）<br>
						＜フレッシュハーブミントの香味＞
					</div>
				</li>
				<li class="item">
					<div class="note">
						<h3 class="ttl">
							知覚過敏で<br>
							歯がしみる方に
						</h3>
						<span class="note-txt bg-pink">
							しみる歯ケア<small>タイプ</small>
						</span>
					</div>
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-03.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキS<br>
						（医薬部外品）<br>
						＜メディカルハーブミントの香味＞
					</div>
				</li>
			</ul>
		</div>
		<div class="judge-block">
			<h3 class="ttl-img">
				<div class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/ttl-01.png" alt="口臭・ネバつきは、加齢が原因？それとも・・・">
				</div>
				<div class="sp">
					口臭・ネバつきは、<br>加齢が原因？それとも・・・
				</div>
			</h3>
			<div class="judge-list">
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/index/img-04.png" alt="口臭・ネバつきは、加齢が原因？それとも・・・">
				</div>
				<div class="txt-basic">
					<p>
						実は、<span>口臭やネバつきの原因の多くが、歯周病<br class="pc-ipd">
						(歯槽膿漏や歯肉炎)などの口腔由来によるもの。</span><br>
						口臭・ネバつきが気になる方には、歯周病予防効果の<br class="pc-ipd">
						あるハミガキがおすすめです。
					</p>
				</div>
			</div>
		</div>
		<div class="prevention-block">
			<h3 class="heading-item">
				歯槽膿漏・歯肉炎予防に、生薬<br class="sp-sm">「当帰」の力を。
			</h3>
			<div class="note-block">
				<div class="txt-basic">
					<h3 class="ttl">生薬当帰とは？</h3>
					<p>
						ハミガキへの薬用成分としては、サンスターが独自に配合。<br>
						薬草として広く栽培されているセリ科の多年草で、古来、抗炎症作用をもつ生薬として重用されてきました。<br>
						サンスターでは生薬当帰エキスとして、根から抽出したエキスを用いています。
					</p>
				</div>
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/index/img-05.png" alt="生薬当帰とは？">
				</div>
			</div>
		</div>
		<div class="comment-block">
			<h3 class="ttl-img">
				<div class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/ttl-02.png" alt="60%以上の方が、「口臭やネバつきを気にしている」と回答しています。">
				</div>
				<div class="sp">
					60%以上の方が、<br>「口臭やネバつきを気にしている」<br>と回答しています。
				</div>
			</h3>
			<div class="comment-list">
				<img src="<%= RELATIVE_PATH %>img/index/img-06.png" alt="60%以上の方が、「口臭やネバつきを気にしている」と回答しています。">
			</div>
			<div class="comment-item">
				<h3 class="ttl">
					生薬 当帰の力がはたらく、<br class="pc">
					サンスター薬用塩ハミガキで<br class="pc">
					歯槽膿漏・歯肉炎を防いで
					<span>健康なハグキへ</span>
				</h3>
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/index/img-07.png" alt="生薬 当帰の力がはたらく、サンスター薬用塩ハミガキで歯槽膿漏・歯肉炎を防いで">
				</div>
			</div>
		</div>
	</div>
</main>