<main class="page-<%= pageData.template %>">
	<div class="inner">
        <% include common/_breadcrumb.ejs %>
		<h1 class="ttl-info">
			<img src="<%= RELATIVE_PATH %>img/info/ttl-01.png" alt="お口の気になることは、人それぞれ・・・">
		</h1>
		<div class="info-block">
			<h2 class="ttl-type03">
				お口の気になることに合わせた、3タイプ
			</h2>
			<ul class="news-list">
				<li class="item">
					<div class="note02">
						<h3 class="ttl02">
							薬用感のある
							<small>味がお好みの方</small>
						</h3>
					</div>
					
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-01.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキa<br>
						（医薬部外品）<br>
						＜スパイシーミントの香味＞
					</div>
					<div class="tutorial">
						<div class="tutorial-wrap">
							【効能・効果】<br>
							■歯槽膿漏(歯周炎)・歯肉炎の予防<br>
							■口臭の防止 　　　　<br class="sp-lg">■口中を浄化<br>
							■口中を爽快にする　 <br class="sp-lg">■ムシ歯を防ぐ<br>
							■歯を白くする
						</div>
					</div>
					<a href="#" class="btn-type01">
						ご購入はこちら
					</a>
				</li>
				<li class="item">
					<div class="note02">
						<h3 class="ttl02 ttl02-green">
							すっきりとした
							<small>爽快感がお好みの方</small>
						</h3>
						<span class="note-txt02">
							同シリーズ内で
							<span>最も爽快なフレーバー</span>
						</span>
					</div>
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-02.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキaFH<br>
						（医薬部外品）<br>
						＜フレッシュハーブミントの香味＞
					</div>
					<div class="tutorial">
						<div class="tutorial-wrap">
							【効能・効果】<br>
							■歯槽膿漏(歯周炎)・歯肉炎の予防<br>
							■口臭の防止 　　　　<br class="sp-lg">■口中を浄化<br>
							■口中を爽快にする　 <br class="sp-lg">■ムシ歯を防ぐ<br>
							■歯を白くする
						</div>
					</div>
					<a href="#" class="btn-type01 btn-type01-green">
						ご購入はこちら
					</a>
				</li>
				<li class="item">
					<div class="note02">
						<h3 class="ttl02 ttl02-pink">
							知覚過敏も
							<small>ケアしたい方</small>
						</h3>
						<span class="note-txt02 note-txt02-pink">
							硝酸カリウムが
							<span>刺激をブロック</span>
						</span>
					</div>
					<div class="img">
						<img src="<%= RELATIVE_PATH %>img/index/img-03.png" alt="new">
					</div>
					<div class="txt-basic">
						販売名：薬用サンスター塩ハミガキS<br>
						（医薬部外品）<br>
						＜メディカルハーブミントの香味＞
					</div>
					<div class="tutorial">
						<div class="tutorial-wrap">
							【効能・効果】<br>
							■歯がしみるのを防ぐ<br>
							■歯槽膿漏(歯周炎)・歯肉炎の予防<br>
							■口臭の防止　　　　<br class="sp-lg">■口中を浄化<br>
							■口中を爽快にする　<br class="sp-lg">■ムシ歯を防ぐ<br>
							■歯を白くする
						</div>
					</div>
					<a href="#" class="btn-type01 btn-type01-pink">
						ご購入はこちら
					</a>
				</li>
			</ul>
		</div>
		
		<div class="purchase-box">
			<div class="purchase-box_wrap">
				<div class="purchase-box_content">
					<h3 class="purchase-box_ttl">
						<img src="<%= RELATIVE_PATH %>img/info/ttl-02.png" alt="オンラインショップでのご購入">
					</h3>
					<ul class="purchase-box_list">
						<li class="purchase-box_item">
							<a href="#">
								<img src="<%= RELATIVE_PATH %>img/info/logo-01.png" alt="logo-01">
							</a>
						</li>
						<li class="purchase-box_item">
							<a href="#">
								<img src="<%= RELATIVE_PATH %>img/info/logo-02.png" alt="logo-02">
							</a>
						</li>
						<li class="purchase-box_item">
							<a href="#">
								<img src="<%= RELATIVE_PATH %>img/info/logo-03.png" alt="logo-03">
							</a>
						</li>
						<li class="purchase-box_item">
							<a href="#">
								<img src="<%= RELATIVE_PATH %>img/info/logo-04.png" alt="logo-04">
							</a>
						</li>
					</ul>
				</div>
				<span class="purchase-box_close">
				
				</span>
			</div>
		</div>
		
		<div class="ingredients-block">
			<h2 class="ttl-type03">
				健康なお口のための、<br class="sp">こだわりの薬用成分
			</h2>
			<div class="ingredients-img">
				<img src="<%= RELATIVE_PATH %>img/info/ingredients-img.png" alt="健康なお口のための、こだわりの薬用成分">
			</div>
			<div class="ingredients-img02">
				<span class="pc">
					<img src="<%= RELATIVE_PATH %>img/info/ingredients-img02.png" alt="健康なお口のための、こだわりの薬用成分">
				</span>
				<span class="sp">
					<img src="<%= RELATIVE_PATH %>img/info/ingredients-img02-sp.png" alt="健康なお口のための、こだわりの薬用成分">
				</span>
			</div>
		</div>
		
	</div>
</main>