<main class="main-page">
	<div class="inner">
        <% include common/_breadcrumb.ejs %>
		<h1 class="ttl-top">歯槽膿漏・歯肉炎とは？</h1>
		<div class="orther-ttl">
			<h2 class="ttl-checkbox">まずはお口の状態をチェック！</h2>
		</div>
		<div class="box-main-form">
			<div class="box-form">
				<div class="box-form-wp">
					<h3 class="ttl-yellow">これらをほうっておくと歯周病(歯槽膿漏・歯肉炎)へ進行するかも？</h3>
					<ul class="list-checkbox">
						<li class="item">
							<div class="item_checkbox">
								<input type="checkbox" id="c1" name="cc">
								<label for="c1">
									<span></span>
									食べ物が歯にはさまる
								</label>
							</div>
							<div class="item_checkbox">
								<input type="checkbox" id="c2" name="cc">
								<label for="c2">
									<span></span>
									口の中がネバつく
								</label>
							</div>
						</li>
						<li class="item">
							<div class="item_checkbox">
								<input type="checkbox" id="c4" name="cc">
								<label for="c4">
									<span></span>
									口臭が気になる
								</label>
							</div>
							<div class="item_checkbox">
								<input type="checkbox" id="c5" name="cc">
								<label for="c5">
									<span></span>
									ハグキが下がって、歯がしみる
								</label>
							</div>
						</li>
						<li class="item">
							<div class="item_checkbox">
								<input type="checkbox" id="c3" name="cc">
								<label for="c3">
									<span></span>
									ハグキがやせてきた気がする
								</label>
							</div>
						</li>
					</ul>
				</div>
				<div class="box-note">
					<p>
						普段なんとなく感じているお口の不快感が、<br>
						実は歯周病に関連している可能性があります。
					</p>
				</div>
				<div class="img-zoom">
					<img src="<%= RELATIVE_PATH %>img/page01/pic01.png" alt="img">
				</div>
				<div class="img-person">
					<img src="<%= RELATIVE_PATH %>img/page01/pic02.png" alt="img">
				</div>
			</div>
		</div>
		<div class="box-gingivitis">
			<div class="box-gingivitis_left">
				<h2 class="ttl-checkbox">歯肉炎・歯槽膿漏とは</h2>
				<div class="item">
					<h3 class="item_ttl">歯肉炎</h3>
					<p>
						歯肉のみに炎症が起きているもので、歯肉が赤く腫れてきたり、出血したりします。<br>
						歯垢の中には細菌がたくさんいて、その細菌がハグキに炎症を起こして歯肉炎が起こります。
					</p>
				</div>
				<div class="item">
					<h3 class="item_ttl">歯槽膿漏(歯周炎)</h3>
					<p>
						歯肉炎が進行したもので、歯を支えている重要な骨が吸収されます。<br>
						さらに進行してゆくと歯を支えきれなくなり、歯がグラグラして最終的には歯が抜けることがあります。
					</p>
				</div>
			</div>
			<div class="box-gingivitis_right">
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/page01/pic03.png" alt="img">
				</div>
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/page01/pic04.png" alt="img">
				</div>
			</div>
		</div>
		<div class="box-info">
			<div class="ttl-img mbpc-20 mbsp-30">
				<div class="pc">
					<img src="<%= RELATIVE_PATH %>img/page01/ttl-grape.png" alt="img">
				</div>
				<div class="sp">
					これら歯肉炎・歯槽膿漏(歯周炎)<br class="sp">の総称が、歯周病です。
				</div>
			</div>
			<div class="box-des">
				歯周病の初期段階である歯肉炎の症状は、適切なケアで症状はおさまってきますが、歯槽膿漏の段階まで症状が進行すると、元の状態に戻ることはありません。<br>
				「痛みがないから…」といってそのままにしておくと、症状はどんどん進行していくため、日頃の予防が大変重要となります。
			</div>
		</div>
		<div class="box-gingivitis box-gingivitis-style02">
			<div class="box-gingivitis_left">
				<h2 class="ttl-checkbox">口臭、ネバつきの症状と発生のメカニズム</h2>
				<div class="item">
					<p>
						歯槽膿漏・歯肉炎、特有の症状として口臭、ネバつきがあげられます。<br>
						これは歯槽膿漏・歯肉炎の原因菌がお口の中でメチルメルカプタンという強いにおいの揮発性硫黄混合物を発生することでおこります。<br>
						また、原因菌（細菌）の活動が活発になるとその分泌物は、ネバつきの原因にもなります。
					</p>
				</div>
			</div>
			<div class="box-gingivitis_right">
				<div class="img">
					<img src="<%= RELATIVE_PATH %>img/page01/pic05.png" alt="img">
				</div>
			</div>
		</div>
	</div>
</main>

