<main class="main-page">
	<div class="inner">
        <% include common/_breadcrumb.ejs %>
		<div class="box-heading">
			<h2 class="ttl-main">お客様の声</h2>
			<div class="icon">
				<img src="<%= RELATIVE_PATH %>img/page02/icon-question.png" alt="img">
			</div>
			<div class="ttl-sub">
				生薬当帰エキス配合の、サンスター薬用塩ハミガキ。<br>
				使用感はいかがでしょうか？
			</div>
		</div>
		<div class="main-page-customer">
			<div class="box-left">
				<div class="box-medicinal">
					<div class="box-img">
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/page02/pic01.png" alt="サンスター薬用塩ハミガキ（スパイシーミントの香味）">
						</div>
						<div class="img">
							<img src="<%= RELATIVE_PATH %>img/page02/pic02.png" alt="サンスター薬用塩ハミガキ（スパイシーミントの香味）" width="188">
						</div>
					</div>
					<span class="caption">サンスター薬用塩ハミガキ（スパイシーミントの香味）</span>
				</div>
			</div>
			<div class="box-right">
				<div class="ttl-big">
					モニター参加者の <span class="big">76%</span> の方が<br>
					<span class="small">「非常に良い」・「良い」</span>と回答
				</div>
				<div class="txt-des">
					2012年8月サンスター調べ（N＝290）<br>
					対象商品：サンスター薬用ハミガキ（スパイシーミントの香味）
				</div>
			</div>
		</div>
		<div class="box-generations-women">
			<div class="box-left">
				<div class="item-women">
					<div class="icon-person">
						<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
					</div>
					<h3 class="item-women_ttl">50代女性</h3>
					<div class="item-women_content">
						歯を磨くというよりハグキのマッサージができる感じがしました。
					</div>
				</div>
				<div class="item-women">
					<div class="icon-person">
						<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
					</div>
					<h3 class="item-women_ttl">60代女性</h3>
					<div class="item-women_content">
						ほのかな薬草の味で口の中がさっぱりして、歯がつるつるして磨き終わった後の感じがとても良かった。
					</div>
				</div>
				<div class="item-women">
					<div class="icon-person">
						<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
					</div>
					<h3 class="item-women_ttl">60代男性</h3>
					<div class="item-women_content">
						塩味がピリッと効いているが、それほど強くないのでとても使いやすい。
					</div>
				</div>
				<div class="item-women">
					<div class="icon-person">
						<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
					</div>
					<h3 class="item-women_ttl">50代女性</h3>
					<div class="item-women_content">
						色々な薬草のような香りがして磨いている時間が楽しく感じられた。
					</div>
				</div>
			</div>
			<div class="box-right">
				<div class="bg-blue">
					<div class="img-new">
						<img src="<%= RELATIVE_PATH %>img/page02/pic06.png" alt="" width="70">
					</div>
					<div class="flex">
						<div class="flex_left">
							<div class="img">
								<img src="<%= RELATIVE_PATH %>img/page02/pic03.png" alt="">
							</div>
							<span class="txt-caption">
									サンスター薬用塩ハミガキ<br>すっきりハーブタイプ
								</span>
						</div>
						<div class="flex_right">
							<div class="flex">
								<div class="box-img">
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/page02/pic04.png" alt="">
									</div>
									<div class="img">
										<img src="<%= RELATIVE_PATH %>img/page02/pic05.png" alt="">
									</div>
								</div>
								<div class="box-txt">
									すっきり<br>
									ハーブタイプも、<br>
									爽やかな磨き心地<br>
									が好評です！
								</div>
							</div>
							<div class="txt-des">
								2019年5月 サンスター調べ<br>
								すっきりハーブタイプ香味調査<br>
								50・60代男女（N=41）<br>
								対象商品：サンスター薬用塩ハミガキ<br>
								　　　　　すっきりハーブタイプ
							</div>
						</div>
					</div>
					<div class="list-item">
						<div class="item-women">
							<div class="icon-person">
								<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
							</div>
							<h3 class="item-women_ttl">50代男性</h3>
							<div class="item-women_content">
								清涼感、スッキリ感がある。塩味とのバランスもよい。
							</div>
						</div>
						<div class="item-women">
							<div class="icon-person">
								<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
							</div>
							<h3 class="item-women_ttl">50代女性</h3>
							<div class="item-women_content">
								泡立ちが少なくしっかり磨ける。 また、すすぎ後すっきりとした感じが丁度良い。
							</div>
						</div>
						<div class="item-women">
							<div class="icon-person">
								<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
							</div>
							<h3 class="item-women_ttl">50代男性</h3>
							<div class="item-women_content">
								口の中がスッキリした感じが良い。
							</div>
						</div>
						<div class="item-women">
							<div class="icon-person">
								<img src="<%= RELATIVE_PATH %>img/page02/pic07.png" alt="">
							</div>
							<h3 class="item-women_ttl">50代男性</h3>
							<div class="item-women_content">
								さわやかで、使いやすかった。
							</div>
						</div>
					</div>
				</div>
				<span class="txt-note">個人の感想です。</span>
			</div>
		</div>
	</div>
</main>

